 <div class="card ">
  <div  style="height: 100px; ">
    <h5 class="bg-info text-light px-2 pt-2" style="height: 50px">HospitalManagementSystem</h5>
  </div>
</div>

  <div class="container">
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">   
      </div>
    </nav>
    <hr/>
    <div class="row mx-auto">
      <div class="col">
        <li class="nav-link">
          <button routerLink="Patients" class="m-1">Patient</button>
        </li>
      </div>
      <div class="col">
        <li class="nav-link">
          <button routerLink="Doctors" class="m-1">Doctors</button>
        </li>
      </div>
      <div class="col">
        <li class="nav-link">
          <button routerLink="Appoinetments" class="m-1">Appointement</button>
        </li>
      </div>
    </div>
  </div>

<router-outlet></router-outlet>
